{% extends 'base.html' %}

{% load static %}

{% comment %} {% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "blog/css/styles.css" %}">
{% endblock app_css %} {% endcomment %}

{% block header %}
	<img id="banner" src="{% static banner %}">
	<h1 class="display-4">{{heading}}</h1>
	<p class="lead">{{subheading}}</p>
{% endblock header %}

{% block posting %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/blog" title="">All-Post</a>
        </li>
        {% for dataCategory in Categories %}
            <li class="nav-item">
                <a class="nav-link" href="/blog/category/{{dataCategory.category}}"
                title="">{{dataCategory.category}}</a>
            </li>
        {% endfor %}
    </ul>

    {% for post in Posts %}
        <a href="/blog/post/{{post.slug}}">
		<h3>{{post.title}}</h3>
		</a>
        <p>{{post.category}}</p>
        <p>{{post.body|truncatechars:100}}</p>
		<p>{{post.publish}}</p>
		<br>
    {% endfor %}

{% endblock posting %}