{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<title>{{ title }}</title>
		<!-- Css & Bootstrap -->
		{% include "snippets/styles.html" %}
		{% block app_css %}
			<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
		{% endblock app_css %}
	</head>

	<body>
		<!-- Navbar Bootstrap -->
		{% include "snippets/navbar.html" %}
		<!-- Heading with Jumbotron -->
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				{% block header %}

				{% endblock header %}
		  	</div>
		</div>

		{% comment %} Hanya untuk postingan blog, harus dirubah disetiap html {% endcomment %}
		<div class="container bg-light shadow mt-5">
			{% block posting %}

			{% endblock posting %}

			{% block form %}

			{% endblock form %}

			{% block homeform %}
			
			{% endblock homeform %}
		</div>

		<!-- Bootstrap CDN -->
		{% include "snippets/scripts.html" %}

	</body>
</html>
